.qtp-autocomplete {
  position: relative;
  width: 100%;
}

.qtp-autocomplete__list {
  background-color: #fcfcfa;
  border: 1px solid rgba(0,0,0,0.75);
  margin: 16px 8px;
}

.qtp-autocomplete__list-item {
  position: relative;
  list-style: none;
  padding: 8px 8px;
  overflow: hidden;
}

.qtp-autocomplete__list-item__selected:before {
  content: "";
  position: relative;
  float: left;
  top: 8px;
  width: 8px;
  height: 8px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  background: #fff;
}

.qtp-autocomplete__list-item:hover,
.qtp-autocomplete__list-item:focus,
.qtp-autocomplete__list-item__selected {
  background-color: #008F9A;
  color: #ffffff;
}

.qtp-autocomplete__list-item:focus:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  background-color: rgba(0,0,0,0.0);
  animation: ripple 300ms 0s ease-in-out;
}

.qtp-autocomplete__hr {
  margin: 16px 0 0 0;
  border: 1px solid rgba(0,0,0,0.5);
}

.qtp-autocomplete__list-item:hover > .qtp-autocomplete__hr,
.qtp-autocomplete__hr__selected {
  border-color: #ffffff;
}

.qtp-autocomplete__list-item:focus > .qtp-autocomplete__hr {
  border-color: #ffffff;
}