.qtp-form {
  padding: 16px 16px;
  background-color: #ffffff;
  margin: 48px 8px;
  box-shadow: -2px 2px 4px rgba(0,0,0,0.5);
}

.qtp-form--hidden {
  display: none;
}

.qtp-form__label {
  display: block;
}

.qtp-form__label--focused {
  color: #008F9A;
}

.qtp-form__input {
  padding: 16px 0;
  display: block;
  outline: none;
  border: none;
  background-color: rgba(250,250,250, 0);
  font-family: inherit;
  width: 100%;
}

.qtp-form__input:hover + .qtp-form__hr {
  border-color: rgba(0,0,0,0.75);
}

.qtp-form__input:focus + .qtp-form__hr {
  border-color: #008F9A;
  animation-name: scalein;
  -moz-animation-name: scalein;
  -webkit-animation-name: scalein;
  animation-duration: 225ms;
  -moz-animation-duration: 225ms;
  -webkit-animation-duration: 225ms;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
}

@keyframes scalein {
  from {
    border-color: rgba(0,0,0,0.5);
    transform: scale(0);
  }
  to {
    transform: scale(1);
    border-color: #008F9A;
  }
}

.qtp-form__hr {
  margin: 0 0 16px 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.qtp-submit-button {
  position: relative;
  overflow: hidden;
  background-color: #008F9A;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  padding: 8px;
  margin: 40px 0 0 0;
}

.qtp-submit-button:focus {
  outline: 4px solid #ffb700;
}

.qtp-submit-button:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  transform: scale(1,1);
  background-color: rgba(255,255,255,0);
}

.qtp-submit-button:focus:after {
  content: "";
  animation: ripple 500ms 0s ease-in-out;
  -webkit-animation: ripple 500ms 0s ease-in-out;
  -moz-animation: ripple 500ms 0s ease-in-out;
}

@keyframes ripple { from {
    transform: scale(1,1);
    background-color: rgba(255,255,255,0);
  }

  68% {
    transform: scale(30,30);
    background-color: rgba(255,255,255,0.5);
  }

  to {
    transform: scale(75,75);
    background-color: rgba(255,255,255,0);
  }
}

.qtp-submit-button:hover {
  background-color: #006a7c;
}

.qtp-submit-button:disabled {
  background-color: rgba(0,0,0,0.12);
  color: rgba(0,0,0,0.26);
}