.qtp-header {
  background-color: #008F9A;
  color: #ffffff;
  box-shadow: -4px 8px 8px rgba(0, 0, 0, 0.5);
  padding: 16px;
}

.qtp-header__text {
  display: inline-block;
  line-height: 2.0;
  vertical-align: middle;
}

.qtp-back-button--hidden {
  display: none;
}

.qtp-back-button {
  background: none;
  border: none;
  outline: none;
  margin: 0 8px 0 0;
  color: #ffffff;
  position: relative;
  right: 0;
}

.qtp-back-button--disabled {
  color: rgba(255,255,255,0.33);
}

.qtp-back-button:disabled {
  background: none;
  border: none;
  outline: none;
}

.qtp-options {
  background-color: #00AFB7;
  color: white;
  padding: 16px;
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.5)
}

.qtp-options--hidden {
  display: none;
}

.qtp-options__select {
  background: none;
  border: none;
  color: white;
}

.qtp-options__view-options {
  float: right;
}

.qtp-options__icon:before {
  color: #ffffff;
  font-size: 32px;
}

.qtp-options__button {
  background: none;
  border: none;
  border-radius: 2px;
  padding: 0px;
  outline: none;
  outline: none;
  color: white;
}

.qtp-options__button:disabled {
  color: rgba(255,255,255,0.33);
}

.qtp-options__button:disabled .qtp-options__icon:before {
  color: rgba(255,255,255,0.33);
}

.qtp-footer {
  padding: 8px 0;
  width: 100%;
  color: #008F9A;
}

.qtp-footer__info {
  text-align: center;
  margin: 0 8px;
}

.qtp-footer__link {
  color: #fa9090;
}

.qtp-footer__link:visited {
  color: #ac79bc;
}

.qtp-footer__link:active {
  color: #ba7081;
}

.qtp-footer__link:hover {
  color: #dbdbff;
}

.qtp-footer__link:visited:hover {
  color: #dcc3fc;
}