.qtp-autocomplete {
  position: absolute;
  top: 180px;
  left: 0px;
  width: 100%;
}

.qtp-autocomplete__list {
  background-color: #fcfcfa;
  border: 1px solid rgba(0,0,0,0.75);
  margin: 0 16px;
  box-shadow: -2px 2px 16px rgba(0,0,0,0.5)
}

.qtp-autocomplete__list-item {
  list-style: none;
  padding: 8px 8px;
}

.qtp-autocomplete__list-item:hover {
  background-color: #008F9A;
  color: #ffffff;
}

.qtp-autocomplete__hr {
  margin: 16px 0 0 0;
  border: 1px solid rgba(0,0,0,0.5);
}

.qtp-autocomplete__list-item:hover > .qtp-autocomplete__hr {
  border-color: #ffffff;
}