.site-header {
  padding: 16px;
  background-color: #008F9A;
  color: #ffffff;
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.5)
}

.qtp-form {
  padding: 16px;
}

.qtp-form__label {
  display: block;
  font-size: 1.2em;
  margin: 16px 0;
}

.qtp-form__label--focused {
  color: #008F9A;
}

.qtp-form__input {
  display: block;
  outline: none;
  border: none;
  border-bottom: 4px solid rgba(0,0,0,0.5);
  background-color: rgba(250,250,250, 0);
  font-family: inherit;
  font-size: 1.2em;
  width: 100%;
}

.qtp-form__input:focus {
  border-color: #008F9A;
}

.qtp-submit-button {
  background-color: #008F9A;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  font-size: 1.2em;
  padding: 8px;
  margin: 40px 0 0 0;
}

.qtp-submit-button:hover {
  background-color: #00556A;
}

.qtp-footer {
  position: absolute;
  bottom: 0;
  padding: 8px 0;
  background-color: #008F9A;
  width: 100%;
  color: #ffffff;
  box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.5);
}

.qtp-footer__info {
  margin: 0 8px;
}

.qtp-footer__link {
  color: #cacaff;
}

.qtp-footer__link:hover {
  color: #dbdbff;
}

.qtp-footer__link:active {
  color: #fa9090;
}

.qtp-footer__link:visited {
  color: #dca9fc;
}

.qtp-footer__link:visited:hover {
  color: #dcc3fc;
}